<div class="flex flex-col gap-3">
  <p
    class="text-base md:text-lg text-gray-600 dark:text-gray-300 leading-relaxed"
  >
    Soy <strong class="text-white dark:text-white font-bold">Kevin Andrés Soto Briceño</strong>, estudiante de desarrollo web y apasionado por la tecnología. Mi camino
    comenzó con el Bachillerato Tecnológico, donde descubrí mi interés por el
    mundo de la informática.
  </p>

  <p
    class="text-base md:text-lg text-gray-600 dark:text-gray-300 leading-relaxed"
  >
    Esta curiosidad me llevó a continuar mi formación con un <strong class="text-white dark:text-white font-bold">Grado Superior en Desarrollo de Aplicaciones Web</strong>, donde aprendí las bases de la programación, el diseño web y el trabajo
    con bases de datos.
  </p>

  <p class="text-lg text-gray-600 dark:text-gray-300 mt-6 leading-relaxed">
    Durante estos años, he trabajado con lenguajes y herramientas como
    <strong class="text-white dark:text-white font-bold">HTML</strong>,
    <strong class="text-white dark:text-white font-bold">CSS</strong>,
    <strong class="text-white dark:text-white font-bold">JavaScript</strong>,
    <strong class="text-white dark:text-white font-bold">PHP</strong>, y
    <strong class="text-white dark:text-white font-bold">React</strong>.
    También he desarrollado proyectos prácticos tanto individuales como en
    grupo, que me han ayudado a entender mejor cómo aplicar mis conocimientos a
    situaciones reales.
  </p>

  <p class="text-base md:text-lg text-gray-600 dark:text-gray-300 mt-6 leading-relaxed">
    Ahora mismo estoy ampliando mi formación con un curso de especialización en <strong class="text-white dark:text-white font-bold">Ciberseguridad</strong>, un área que me parece muy interesante y con mucho futuro.
  </p>

  <p class="text-base md:text-lg text-gray-600 dark:text-gray-300 leading-relaxed">
    Mi objetivo es seguir aprendiendo y creciendo como desarrollador. Estoy
    abierto a nuevas oportunidades que me permitan aplicar lo que sé, adquirir
    experiencia y seguir evolucionando en este campo. Me interesa especialmente
    el <strong class="text-white dark:text-white font-bold">desarrollo web</strong>, tanto en el
    <strong class="text-white dark:text-white font-bold">front-end</strong> como en el
    <strong class="text-white dark:text-white font-bold">back-end</strong>, y estoy con muchas ganas de seguir mejorando cada día.
  </p>
</div>
