---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "Diseñador y Desarrollador Web Freelance – Construcciones Soto",
    date: "Septiembre 2025 - Octubre 2025",
    description:
      "Diseñe y desarrollé la web corporativa para una empresa con más de 20 años de experiencia, mejorando su imagen digital y la captación de clientes. Proyecto realizado como freelance.",
    Link: "https://www.constsoto.es/",
    image: "projects/ConstruccionesSoto.webp",
  },
  {
    title: "Diseñador y Desarrollador Web Freelance – Bangkok Thai Massage Marbella",
    date: "Mayo 2025 - Junio 2025",
    description:
      "Diseño y desarrollo web para Bangkok Thai Massage Marbella, con enfoque en estética, usabilidad y experiencia móvil. Proyecto realizado como freelance.",
    Link: "https://bangkokthaimassagemarbella.es/",
    image: "projects/BangkokThaiMassage.webp",
  },
  {
    title: "Practicas Programador Web Junior Hospital Ochoa",
    date: "Abril 2024 - Junio 2024",
    description:
      "Practicas en el departamento informático del Hospital Ochoa, Marbella, Málaga. Desarrollando un sistema de gestión de citas médicas, infraestutura interna de la red del hospital con tecnologias como PHP, React, JS, etc.",
    Link: "https://hospitalochoa.com/es/",
  }
];

---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map(experience => (
        <li class="mb-10 mt-4">
            <ExperienceItem {...experience}></ExperienceItem>
        </li>
    ))
  }
</ol>
