<header class="flex justify-center items-center mx-auto py-5 w-full xl:w-[1120px]">
  <nav class="w-full">
    <!-- MÓVIL: menú en dos columnas -->
    <div class="grid grid-cols-2 gap-y-4 text-center md:hidden text-white">
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#formacion">Formación</a>
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#experiencia">Experiencia</a>
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#proyectos">Proyectos</a>
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#habilidades">Habilidades</a>
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#certificaciones">Certificaciones</a>
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#sobremi">Sobre mí</a>
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#contacto">Contacto</a>
    </div>

    <!-- ESCRITORIO: menú horizontal -->
    <div class="hidden md:flex flex-wrap items-center justify-evenly gap-x-10 mx-5 text-center text-white">
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#formacion">Formación</a>
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#experiencia">Experiencia</a>
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#proyectos">Proyectos</a>
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#habilidades">Habilidades</a>
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#certificaciones">Certificaciones</a>
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#sobremi">Sobre mí</a>
      <a class="hover:text-blue-200/90 hover:scale-110 transition duration-200 ease-in-out" href="#contacto">Contacto</a>
    </div>
  </nav>
</header>
