<header class="flex justify-center items-center mx-auto py-5 w-full  xl:w-[1120px]">
  <nav class="flex flex-wrap  items-center justify-center gap-x-10 mx-5">
    <a class="hover:text-blue-200/90 hover:scale-110 transition 2s smooth" href="#formacion">Formación</a>
    <a class="hover:text-blue-200/90 hover:scale-110 transition 2s smooth" href="#experiencia">Experiencia</a>
    <a class="hover:text-blue-200/90 hover:scale-110 transition 2s smooth" href="#proyectos">Projectos</a>
    <a class="hover:text-blue-200/90 hover:scale-110 transition 2s smooth" href="#sobremi">Sobre mí</a>
    <a class="hover:text-blue-200/90 hover:scale-110 transition 2s smooth" href="#contacto">Contacto</a>
  </nav>
</header>
